<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.otams">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Otams">

        <activity
            android:name=".TutorHome"
            android:exported="false" />
        <activity
            android:name=".StudentSessionsActivity"
            android:exported="false"
            android:parentActivityName=".StudentHome" />
        <activity
            android:name=".AvailableSessionsActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            />
        <activity
            android:name=".StudentHome"
            android:exported="false" />
        <activity
            android:name=".Main"
            android:exported="false" />
        <activity
            android:name=".LandingPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginPage"
            android:exported="true" />
        <activity
            android:name=".RegisterPage"
            android:exported="true" />
        <activity
            android:name=".AdministratorPage"
            android:exported="true" />
        <activity
            android:name=".TutorRegistrationPage"
            android:exported="true" />
        <activity
            android:name=".StudentRegistrationPage"
            android:exported="true" />
        <activity
            android:name=".PendingPage"
            android:exported="true" />
        <activity
            android:name=".RejectedPage"
            android:exported="true" />
        <activity
            android:name=".ApprovedPage"
            android:exported="true" />
        <activity
            android:name=".RejectedRequestsPage"
            android:exported="true" />
    </application>

</manifest>